/* Telerik RadAjaxLoadingPanel Telerik Skin */

.RadAjax_Telerik .raDiv
{
	background-image:url('WebResourcea5ba.gif?d=4bwDc4_Q-Ltk7990-8OypabFNl3DQ1KmvSyrYsFvdDwOcLEC0vW5B3ikWa-KNRwLQjXFTP8wLivIWB_qgdOM8XDARX5UNnWAtSvhsDte3K8GNwwd2Q1HhxiWUU6XymP5sSm3eA_DqFMDcjVjT1ZJYZbdXQ01&amp;t=635697446320000000');
}

.RadAjax_Telerik .raColor
{
	background-color:#fff;
}

.RadAjax_Telerik .raTransp
{
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}