@inherits LayoutComponentBase

    <div id="header">
        <div class="main-nav">
            <TbaNavMenuTop />
        </div>
        <div class="main-logo">
            <img src="img/trevorbollen-logo.png" alt=" Trevor Bollen Art / Home"
        </div>
        <br class="clearfloat" />
    </div>
    
    <div id="content-wrapper">
    <main>
        
            
                @Body
            
            <br class="clearfloat" />
        

    </main>
        </div>
    <div id="footer-wrapper">
        <div id="footer-menu">
            <TbaNavMenuFooter />
        </div>
    </div>
