@inherits LayoutComponentBase

    <div id="header">
        <div class="main-nav">
            <TbaNavMenuTop />
        </div>
        <div class="main-logo">
        <a href=""><img src="img/trevorbollen-logo.png" alt=" Trevor Bollen Art / Home" /></a>
        </div>
        <br class="clearfloat" />
    </div>
    
    <div id="content-wrapper">
    
        
            
                @Body
            
            <br class="clearfloat" />
        

    
        </div>
    <div id="footer-wrapper">
        <div id="footer-menu">
            <TbaNavMenuFooter />
        </div>
    </div>
