@page "/about"
<h1>About Trevor Bollen</h1>
<img src="img/trevo-bollen.jpg" class="image-wrapper-right" AlternateText="Trevor Bollen"
     ToolTip="Trevor Bollen" />
<p>
    After studying geography and art at St Luke&#39;s College Exeter University, Trevor
    Bollen taught at schools in England for three years before becoming an Army
    Officer in 1961.
</p>
<p>
    Military service took him to Malaysia and Borneo where he was
    with the Gurkhas, then to Germany, the Gulf and the Ministry of Defence
    Whitehall. On retirement from the Army he worked in industry mainly with A.G.
    Barr plc, the Irn Bru Company.
</p>
<p>
    His various careers all involved constant
    mobility and little time for art. But, throughout his working life Trevor
    maintained a long-term ambition to one day become a painter. A role he is now developing.
</p>
<p>
    The variety of Trevor&#39;s life experience is reflected in his artwork which
    constantly varies in subject and style, consistently evolving.
</p>
<p>
    Some of his schoolboy paintings were exhibited in Wiltshire and once in Moscow as
    part of a an English and Russian cultural exchange programme. Later artwork
    appeared in Army exhibitions and, more recently, in galleries and exhibitions in
    and around Glasgow where Trevor now lives.
</p>
<p>
    Click here to contact Trevor or if you would like see his work online click here
    to view the gallery.&nbsp; You can also keep track of where Trevor is exhibiting
    in the exhibitions section.
</p>

@code {

}
