@page "/contact"
<h1>Contact Trevor</h1>
<p>
    If you wish to contact Trevor you can do so by email
    <a href="mailto:trevorbollen@gmail.com">trevorbollen@gmail.com</a>
    &nbsp;or if you have a specific enquiry on Trevor&#39;s art you can make an enquiry from
    the
    <NavLink href="portfolio"> Portfolio</NavLink>
    &nbsp;section.
</p>
<p>&nbsp;</p>

@code {

}
