@page "/exhibitions"
<PageTitle>Trevor Bollen Exhibitions & Events</PageTitle>
<h1>Exhibitions & Events </h1>
<p>
Trevor exhibits on a regular basis, where and when will be detailed here.
</p>
<p>
    Trevor is currently not exhibiting.
</p>

@code {

}
