@page "/"

<PageTitle>Home</PageTitle>

<div class="rhs-col">
    <div class="featured">
   
    <h2>Featured Artwork</h2>
    <Carousel>
    <CarouselItem Active="true">
        <Image Src="_content/BlazorBootstrap.Demo.RCL/images/slide-01.png" />
    </CarouselItem>
    <CarouselItem>
        <Image Src="_content/BlazorBootstrap.Demo.RCL/images/slide-02.png" />
    </CarouselItem>
    <CarouselItem>
        <Image Src="_content/BlazorBootstrap.Demo.RCL/images/slide-03.png" />
    </CarouselItem>
</Carousel>
    
                     <br class="clearfloat" />
                    
                    </div>
                    <br class="clearfloat" />
                      


  
 </div>

 <div class="lhs-col">
<div class="panel">
<p><em>Since childhood Trevor has nurtured a dream of becoming an artist. Now retired he 
    is in the process of realising his dream.</em>

</p>
    <p>He is a member of the Milngavie Art Club, The Bearsden Art Club and The 
        Martes Group of Painters. His work is exhibited in Glasgow art galleries and has 
        been shown at the Paisley Art Institute and a variety of cancer and MS support shows. </p>
    <p>For more information...</p>
        <p>
            <a href="about">
                <img src="img/btn-clickhere.jpg" class="hypRight" alternateText="find out more about Trevor Bollen" ToolTip="find out more about Trevor Bollen"/>
            </a>
        </p>
    <br class="clearfloat" />

</div>
<h2 class="h2">about Trevor Bollen...</h2>
    <div class="panel">

    
   
  <p>  If you would like to contact Trevor about his art please fill in the form below.
        Items marked with a * are required.<br />
    </p>
   
   
   
   </div>


    <h2 class="h2">contact us</h2>
</div>
